html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  	box-sizing: inherit;
}
.content-footer,
.masthead-heading,
.masthead-intro {
    text-align: center;
}
a {
	text-decoration: none;
	color: #838994;
}
a:hover {
    color: #4C5058;
}
a:active {
    color: #4C5058;
}

.karma-content {
	text-align: center;
	margin-top: 15em;
	color: #FFFFFF;
}
/* navigation section */
.top-navigation {
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.top-navigation .content {
	width: 70em;
	height: 4.65em;
	margin: 0 auto; /* using the margin:0 auto trick to make the .content inside the .top-navigation always centered.  The first value ("0") is the top and bottom margin, the second value ("auto") is the left and right margin.  This is another way of writing margin-right: auto; and margin:left auto; */
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 1.05em;
	letter-spacing: 0.03em;
	padding-top: .5em;
	margin-right: .75em;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1em;
}
.top-navigation .links .active {
	color: #4C5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.karma-logo {
	width: 1.875em;
	height: 2.8125em;
	margin-left: .75em;
	margin-top: .75em;
}
.introduction {
	background-image: url(../images/first-background.jpg);
	background-position: center bottom;
		background-position-y: -8.7em;
	background-repeat: no-repeat;
	background-size: cover;
	height: 46.5em;
	overflow: auto;
}
.introduction h1 {
	font-size: 3.125rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: -.225em;
}
.introduction h3 {
	font-size: 1.563rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.big-button {
	width: 9.688rem;
	background-color: #F15A29;
	border-color: #F15A29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}
.cases {
	overflow: auto;
	text-align: center;
	margin: 0 auto;
}
.cases h2 {
	font-size: 2.75rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-top: 2.6em;
}
.cases .devices {
    width: 24em;
    display: inline-block;
    /* styles to assist with debugging */
    box-sizing: border-box;
    height: 8.2em;
    margin-left: -5px;
    margin-top: .5em;
}
.device-words {
	font-size: 1.4rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.social {
	overflow: auto;
	text-align: center;
	width: 65em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7.5em;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.icons {
	margin-right: 2.5em;
	margin-top: -1.5em;
	margin-bottom: -.3em;
}
hr {
height: 1px;
color: #EAEBEC;
background-color: #EAEBEC;
border: none;
}
.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}
